@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #00F2FF;
  --color-accent: #A5F3FC;
  --color-background: #030708;
  --color-surface: #0a0e0f;
  --color-muted: #9CA3AF;
  
  background-color: var(--color-background);
  color: white;
  font-family: 'Iceland', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  background-image: 
    linear-gradient(rgba(0, 242, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 242, 255, 0.05) 1px, transparent 1px);
  background-size: 50px 50px;
  background-position: center center;
  min-height: 100vh;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}
